body{
    background-image: 
      linear-gradient(to bottom, rgba(255,255,255,0) 85%, white 100%),
      url('img/icegif-153.gif');
    background-size:cover;
    background-attachment: fixed;
    background-position: center 15px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


.fejlec {
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.bejelentkezes_gomb {
    font-size: medium;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

h1{
  font-size: 45px;
    font-weight: bold;
    color:#1F2937;
    font-family:inter;
    text-shadow: #1F2937 1px 1px 2px;
    position: relative;
    padding-left: 15px

}
form {
    background: rgba(31, 41, 55, 0.4);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    width: 500px;
    height: 300px;
    padding: 10px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Zalando Sans Expanded', sans-serif;
    color:#FFFFFF;
    text-align:center;
    margin: 150px auto;
}

p {
    font-weight: bold;
    color: #ffffff;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 20px auto;
}

.p2 {
    margin-top: 50px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 20px;
    text-align: center;
}

input[type="submit"],.bejelentkezes_gombja {
    margin: 10px 10px; 
    padding: 5px 20px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Zalando Sans Expanded', sans-serif;
    transition: all 0.3s ease;
    transform: scale(1);
    font-size: 20px;
}

label[for="rendszam"], label[for="alvazszam"] {
  font-size: 30px;
    font-weight: bold;
  font-family: 'Zalando Sans Expanded', sans-serif;
}

#rendszam {
  width: 250px;
  height: 60px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  background: white;
  color: black;
  border: 3px solid black;
  border-radius: 6px;
  font-family: 'Arial Black', 'Impact', sans-serif;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  outline: none;
  transition: all 0.3s ease;
}

#rendszam:focus {
  box-shadow: 0 0 25px rgba(0,0,0,6);
}

#alvazszam {
  width: 450px;
  height: 60px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  background: white;
  color: black;
  border: 3px solid black;
  border-radius: 6px;
  font-family: 'Arial Black', 'Impact', sans-serif;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  outline: none;
  transition: all 0.3s ease;
}

#alvazszam:focus {
  box-shadow: 0 0 25px rgba(0,0,0,6);
}

input[type="submit"]:hover, .bejelentkezes_gombja:hover {
    transform: scale(1.05);
    background-color: #1F2937;
    color: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer a img {
    width: 40px;
    height: 40px;
}

h3 {
  margin: 10px 10px; 
  padding: 5px 20px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  font-family: 'Zalando Sans Expanded', sans-serif;
  font-size: 20px;
}