
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0a3d62, #3c6382, #82ccdd);
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*Fejléc*/
.fejlec {
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(37, 31, 31, 0.1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

.fejlec h1 {
    font-size: 32px;
    color: #1F2937;
}

/* Bejelentkezés / regisztráció gomb */
.bejelentkezes_gombja {
    margin: 10px;
    padding: 5px 15px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Zalando Sans Expanded', sans-serif;
    transition: all 0.3s ease;
    font-size: 20px;
}

.bejelentkezes_gombja:hover {
    background-color: #1F2937;
    color: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Login panel */
.login_panel {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;

    
    border: 3px solid;
    border-image: linear-gradient(to bottom right, white, #1d74bb) 1;
    transition: none; /* nem mozog */
}

/* Cím - Bejelentkezés felirat */
.login_panel h2 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;          
    font-weight: bold;         
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

/* Input mezők */
.login_panel input[type="text"],
.login_panel input[type="password"] {
    width: 450px;
    height: 60px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: white;
    color: black;
    border: 3px solid black;
    border-radius: 6px;
    font-family: 'Arial Black', 'Impact', sans-serif;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    outline: none;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.login_panel input[type="text"]:focus,
.login_panel input[type="password"]:focus {
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

/* Submit gomb */
.login_panel input[type="submit"] {
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #2c7be5;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.login_panel input[type="submit"]:hover {
    background-color: #1e5bb8;
}
