body{
    background: linear-gradient(to top ,rgb(29, 116, 187), rgb(74, 169, 201));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


.fejlec {
    width: 100%;
    height: 65px;
    margin: 0px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(37, 31, 31, 0.1);
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

input[type="submit"],.bejelentkezes_gombja {
    margin: 10px;
    padding: 5px 15px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Zalando Sans Expanded', sans-serif;
    transition: all 0.3s ease;
    transform: scale(1);
    font-size: 20px;
}

.bejelentkezes_gomb {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}

input[type="submit"]:hover, .bejelentkezes_gombja:hover {
    transform: scale(1.05);
    background-color: #1F2937;
    color: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
h1{
  font-size: 45px;
    font-weight: bold;
    color:#1F2937;
    font-family:inter;
    text-shadow: #1F2937 1px 1px 2px;
    position: relative;
    padding-left: 15px;
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Zalando Sans Expanded', sans-serif;
    text-align: left;
}

.auto_adatok{
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid;
    border-image: linear-gradient(to bottom right, white, #1d74bb)2;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    color: #1F2937;
    font-family: 'Zalando Sans Expanded', sans-serif;
}

.auto_adatok .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.auto_adatok .item {
    font-size: large;
    font-weight: bold;
    flex: 1 1 22%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left; 
}
.auto_adatok .item img {
    width: 30px;
    height: 30px;
}
ul{
    list-style-type: none;
    padding: 0;
}
select{
    background: rgba(31, 41, 55, 0.4);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255,255,255,0.2);
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'Zalando Sans Expanded', sans-serif;
    margin-top: 10px;
}

#Diagram{
    height: 400px;
    width: 92%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.view-image-btn {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 5px 5px 5px;
    position: relative;
    background: #ffffff;
    color:#1F2937;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 21px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.view-image-btn:hover {
   transform: scale(1.05);
    background-color: #1F2937;
    color: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px) saturate(180%);
}

/*ez maga a kép*/
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.auto_adatok_bovitett{
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid;
    border-image: linear-gradient(to bottom right, white, #1d74bb)2;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    color: #1F2937;
    font-family: 'Zalando Sans Expanded', sans-serif;
}

.auto_adatok_bovitett .item {
    font-size: large;
    font-weight: bold;
    flex: 1 1 22%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left; 
}

.auto_adatok_bovitett .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.auto_adatok_bovitett .item img {
    width: 30px;
    height: 30px;
}

#yearselect{
    width: 140px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 5px 5px 5px;
    position: relative;
    background: #ffffff;
    color:#1F2937;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 21px;
}

.form-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}
